
body{
	background-color:gray;
}
.div-body{
	width:96%;
	height:100%;
	margin:auto;
	background-color:white;
}
.div-body-header-top{
	text-align:center;
}
.div-body-header-top-div{
	background-color:green;
	
}
.div-body-header-top-div-logo{
	content: url("downloads/logo.png");
}
.div-body-header-mid{
	background-color:#90ee90;
	text-align:center;
}
.div-body-header-mid a{
	padding:15px;
	font-size:24px;
	color:white;
	text-decoration:none;
}
.div-body-header-bottom{
	background-image: url("downloads/bg2.jpg");
	height:300px;
}
.div-body-content-top-h3{
	margin-left:10%;
}
.div-body-content-top-img{
	display:block;
	padding:0;
}
.div-body-content-top{
	margin-left:10%;
}
.div-body-content-top-span{
	position:relative;
	top:-220px;
	left:420px;
	display:block;
	padding:0;
	width:400px;
	height:200px;
	border:2px solid gray;
	border-radius:10px;
	text-align:center;
	
}
.div-body-content-mid{
	margin-left:10%;
}
.div-body-content-mid-lists ul,ol{
	background-color:#90ee90;
	display: inline-block;
	width:40%;
}
.div-body-content-mid-lists li{
	padding:7px;
}
.div-body-content-mid-lists span{
	color:gray;
}
.div-body-content-mid-h2{
	margin-left:35%;
}
.div-body-content-mid-education table{
	border:1px solid black;
	background-color:#66cdaa;
	width:90%;
	text-align:center;
}
.div-body-content-mid-education th{
	color:white;
	background-color:green;
}
.div-body-content-mid-education td{
	padding:50px 0;
	font-style:bold;
	font-size:20px;
	background-color:#90ee90;
}
.div-body-content-bottom{
	text-align:center;
}

.div-body-footer{
	height:10%;
	width:100%;
	background-color:green;
}
span{
	padding:5px;
	margin:35px;
	font-size:24px;
}
a:hover{
	background-color:green;
}
ul,or,table{
	border-radius:10px;
}


